@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
* {
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
  }
  body {
    background:#232323;
  }
  input {
      padding: 10px;
      width: 100%;
      font-size: 14px;
      font-family: inherit;
      line-height: 24px;
      color: #555;
      background-color: #f1f1f1;
      border: none;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
  }
  input{
      background-color: rgba(0,0,0,0.1);
      border-radius: 4px;
      border: 2px solid rgba(0,0,0,0);
  }
      #container {
          padding:50px;
          height: auto;
          width: auto;
      }
      .titel-site {
          flex:2;
      }
      .bracket-title ul, .bracket-title li {
          display:inline;
      }
      .navbar-resultaten-kolom, .navbar-gebruikers {
          display:flex;
          flex-wrap:wrap;
          padding:15px 25px;
      }
      .navbar-resultaten-kolom label {
          color:#747474;
          font-size:18px;
          font-weight:bold;
      }
      .kolomleader, .resultaat-kolom {
          flex:1;
      }
      .navbar-resultaten-kolom {
          margin:5px 0px;
      }
      .navbar-gebruikers {
          background:#1d1d1d;
          border-radius:10px;
          margin:5px 0px;
          align-items:center;
      }
      .navbar-ladder .navbar-gebruikers:nth-of-type(1) {
          color:#686EF9;
      }
      .resultaat-kolom {
          font-size:18px;
          color:#747474;
          font-weight:bolder;
      }
      .punt {
          display:block;
          background:lightgreen;
          color:white!important;
          font-weight:bold;
          width:34px;
          height:34px;
          text-align:center;
          border-radius:50%;
      }
      .rank-level {
          padding-top: 4px;
          vertical-align:middle;
          color: #00008B;
      }
      .navbar-gebruikers:hover {
          background:#1A1A1A;
      }

      .start-over {
        font-size: 1.2rem;
        background-color: #2d70d4;
        border: none;
        color: rgb(228, 213, 213);
        border-radius: 7px;
        padding: 12px 20px;
        display: inline-block;
        outline: none;
        cursor: pointer;
      }
      .start-over:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 0 rgba(20, 126, 255, 0.6);
        transition: transform 150ms;
        transform: scale(1.03);
        color: #181515;
    }
      .button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }

      h1 {
        font-size: 2.4rem;
        color: rgb(24, 18, 18);
        margin-bottom: 1rem;
        font-family: 'Nova Square', cursive;
      }
    
      .leader {
          text-align: center;
          display: block;
          background: #ecf144;
          border-radius: 15px;
          font-size: 1.4rem;
          margin-bottom: 2rem;
          font-family: 'Nova Square', cursive;
      }
      .container {
          width: 100vw;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 80rem;
          margin: 0 auto;
          padding: 2rem;
      }
      .flex-colum {
          display: flex;
          flex-direction: column;
      }
      .flex-center {
          justify-content: center;
          align-items: center;
      }
      .justify-center {
          justify-content: center;
      }
      .text-center {
          text-align: center;
      }
      .btn {
          font-size: 2rem;
          padding: 1rem 0;
          width: 20rem;
          text-align: center;
          margin-bottom: 1rem;
          text-decoration: none;
          color: #181515;
          background: #1872e7;
          border-radius: 5px;
      }
      .btn:hover {
          cursor: pointer;
          box-shadow: 0 0.4rem 0 rgba(8,114,244,0.6);
          transition: transform 150ms;
          transform: scale(1.03);
      }
      #highscore-btn {
          background: #f4f812;
      }
      #highscore-btn:hover {
          box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
      }
      .fa-crown {
          font-size: 2.5rem;
          margin-left: 1rem;
      }
      .fa {
        font-size: 2.5rem;
        margin-left: 1rem;
    }
      